.App {
  background-color: #282c34;
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.App-header {
  background-color: #282c34;
  width: 50%;
  flex: 1 2 15%;
  font-size: calc(4px + 2vmin);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-title:hover {
  cursor: pointer;
}

.Open-layout, .Chat, .Play {
  background-color: #282c34;
  width: 100%;
  height: 100%;
  font-size: calc(4px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Login, .One-time-password {
  background-color: #282c34;
  width: 50%;
  flex: 2 1 15%;
  font-size: calc(4px + 2vmin);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home, .User, .Visited-user {
  background-color: #282c34;
  height: 100%;
  width: 100%;
  font-size: calc(4px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Play {
  background-color: #282c34;
  height: 100%;
  width: 100%;
  font-size: calc(4px + 2vmin);
  color: white;
}

.Lobby-state {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-around;
}

.User-public {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.User-public>img{
  height: 5vh;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 2px solid white;
}

.Chat {
  background-color: #8891a3;
  height: 100%;
  width: 100%;
  font-size: calc(4px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Chat-Body {
  background-color: #282c34;
  height: 100%;
  width: 70%;
  font-size: calc(4px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: normal;
}

.Message-Text {
  background-color: #ffffff;
  border-radius: 10px;
  color:#282c34;
  padding-inline: 0.5em;
  margin: 5px;
}

.Message-Chats {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.Sender-Name {
  margin-left: 10px;
}

.Chat-Contacts {
  height: 100%;
  width: 30%;
  background-color: #282c34;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
  align-items: normal;
  gap: 5px;
}

.Chat-Box {
  height: 100%;
  width: 100%;
  background-color: #282c34;
  overflow-y: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  gap: 5px;
}

.Chat-Input {
  height: 3em;
  width: 100%;
  background-color: #282c34;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: left;
  align-items: center;
  gap: 5px;
}

.Welcome-section {
  background-color: #a6a8ac;
  width: 50%;
  flex: 4 1 80%;
  font-size: calc(4px + 2vmin);
  color: #282c34;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.Left-column {
  height: 100%;
  width: 24%;
  background-color: #282c34;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.Right-column {
  height: 100%;
  width: 24%;
  background-color: #282c34;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.Friends, .Matches {
  background-color: #a6a8ac;
  height: 50%;
  width: 100%;
  border-radius: 10px;
  font-size: calc(4px + 2vmin);
  color: #282c34;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

.Menu-icon, .Menu-icon-alert, .Avatar-container {
  background-color: #a6a8ac;
  height: 25vh;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Menu-icon-alert {
  background-color: rgb(231, 133, 133);
}

.Menu-icon:hover, .Menu-icon-alert:hover {
  background-color: white;
  height: 27vh;
}

.Menu-icon>*, .Menu-icon-alert>* {
  max-width: 50%;
  max-height: 50%;
  width: auto;
  height: auto;
}

.Avatar-base {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.Overlay-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Avatar-overlay {
  width: 50%;
  height: 50%;
}

.Overlay-container:hover {
  opacity: 1;
  cursor: pointer;
}

.Wall {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  color: #282c34;
  font-size: calc(6px + 2vmin);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.QRcode {
  height: 50%;
  aspect-ratio: 1 / 1;
}

.Text-field {
  background-color: #a6a8ac;
  border-radius: 10px;
  color: #282c34;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  width: 100%;
}

.Inline-description {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.Description {
  font-style: italic;
  width: 30%;
}

.Value {
  font-weight: bold;
  width: 60%;
  text-overflow: clip;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.TwoFA-activate {
  border-radius: 2px;
  cursor: pointer;
  height: 70%;
}

.TwoFA-deactivate {
  border-radius: 2px;
  cursor: pointer;
  height: 70%;
  background-color: rgb(173, 102, 102);
}

.TwoFA-deactivate:hover {
  background-color: rgb(94, 55, 55);
}

.Dashboard {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 80%;
  gap: 10px;
}

.Dashboard-row {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.Dashboard-row>* {
  background-color: #a6a8ac;
  height: 100%;
  width: 50%;
  border-radius: 10px;
  color: #282c34;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hide;
}

.Match-lost {
  background-color: rgb(233, 136, 136);
}

.Match-won {
  background-color: rgb(109, 182, 119);
}

.Match-lost, .Match-won {
  overflow-y: hidden;
  overflow-x: scroll;
}

.Section-title {
  align-self: flex-start;
  text-align: center;
}

.button {
  background-color: rgb(102, 110, 117);
  padding: 15px;
  width: 10vw;
  border-radius: 10px;
  text-decoration: none;
  font-size: calc(2px + 2vmin);
  color: white;
}

.button:hover {
  background-color: white;
  color: #282c34;
}

.button, .Menu-icon {
  cursor: pointer;
}

.Achievements {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 70%;
  overflow: scroll;
}

.break {
  width: 100%;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tooltip {
  visibility: hidden;
  width: 12vw;
  height: 25vh;
  background-color: rgba(255, 255, 255, 0.8);
  color:rgb(102, 110, 117);
  font-size: 2vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  top: auto;
  transition-timing-function: ease;
  transition: 0.5s;
}

.tooltip>img {
  border: 1px solid black;
  max-width: 40%;
  max-height: 50%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.tooltip-button {
  height: 100%;
  width: 45%;
  background-color: rgb(255, 255, 255);
}

.tooltip-button:hover {
  cursor: pointer;
}

.tooltip-button>img {
  max-width: 50%;
  max-height: 90%;
  aspect-ratio: 1 / 1;
}

.User-public:hover>.tooltip, .tooltip:hover {
  visibility: visible;
}

.Friends-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  width: 60%
}

.list .User-public {
  justify-content: space-around;
}

.circle0, .circle1, .circle2 {
  border-radius: 50%;
  height: 2vh;
  aspect-ratio: 1 / 1;
}

.circle0 {
  background-color: red;
}

.circle1 {
  background-color: green;
}

.circle2 {
  background-color: yellow;
}

.Requests {
  width: 90%;
  max-height: 50%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.record {
  display: flex;
  flex-direction: row;
  height: 10%;
  width: 100%;
  justify-content: space-between;
  padding: 2%;
  border-bottom: 1px solid black;
}

.record-name {
  width: 50%;
}

.record-buttons {
  width: 50%;
}

.Check-button {
  background-color: rgb(79, 170, 79);
}

.Cancellation-button {
  background-color: rgb(238, 116, 116);
}

.Check-button, .Cancellation-button {
  border-radius: 5px;
  height: 100%;
  width: 25%;
}

.Check-button:hover, .Cancellation-button:hover {
  cursor: pointer;
}

.Avatar-visit {
  max-width: 50%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.Search-bar {
  background-color: white;
  color: black;
  border: 1px solid black;
  width: 100%;
  border-collapse: "collapse"
}

.Search-bar tr:hover {
  background-color: #282c34;
  color: white;
}

.Room-create>input {
  width: 100%;
}

.unread {
  background-color: rgb(245, 146, 146);
}

html {
  background-color: #282c34;
}

a {
  text-decoration: none;
}

h1, h2 {
  width: 100%;
}