.App {
  background-color: #282c34;
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.App-header {
  background-color: #282c34;
  width: 50%;
  flex: 1 2 15%;
  font-size: calc(4px + 2vmin);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-title:hover {
  cursor: pointer;
}

.Open-layout, .Play {
  background-color: #282c34;
  width: 100%;
  height: 100%;
  font-size: calc(4px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Login, .One-time-password {
  background-color: #282c34;
  width: 50%;
  flex: 2 1 15%;
  font-size: calc(4px + 2vmin);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home, .User {
  background-color: #282c34;
  height: 100%;
  width: 100%;
  font-size: calc(4px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Chat {
  background-color: #8891a3;
  height: 100%;
  width: 100%;
  font-size: calc(4px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Chat-Body {
  background-color: #936b96;
  height: 100%;
  width: 70%;
  font-size: calc(4px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: normal;
}

.Message-Text {
  background-color: #ffffff;
  border-radius: 10px;
  color:#282c34;
  padding-inline: 0.5em;
  margin: 5px;
}
/* 
.Msg-Container
{
  height: 100%;
  width: 30%;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
  align-items: center;
} */

.Chat-Contacts {
  height: 100%;
  width: 30%;
  background-color: #3d4e71;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
  align-items: normal;
  gap: 5px;
}

.Chat-Box {
  height: 100%;
  width: 100%;
  background-color: #6ed172;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  gap: 5px;
}

.Chat-Input {
  height: 3em;
  width: 100%;
  background-color: #282c34;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: left;
  align-items: center;
  gap: 5px;
}

.Welcome-section {
  background-color: #a6a8ac;
  width: 50%;
  flex: 4 1 80%;
  font-size: calc(4px + 2vmin);
  color: #282c34;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.Left-column {
  height: 100%;
  width: 24%;
  background-color: #282c34;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.Right-column {
  height: 100%;
  width: 24%;
  background-color: #282c34;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.Friends, .Matches {
  background-color: #a6a8ac;
  height: 50%;
  width: 100%;
  border-radius: 10px;
  font-size: calc(4px + 2vmin);
  color: #282c34;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Menu-icon, .Avatar-container {
  background-color: #a6a8ac;
  height: 25vh;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Menu-icon:hover {
  background-color: white;
  height: 27vh;
}

.Menu-icon>* {
  max-width: 50%;
  max-height: 50%;
  width: auto;
  height: auto;
}

.Avatar-base {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.Overlay-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Avatar-overlay {
  width: 50%;
  height: 50%;
}

.Overlay-container:hover {
  opacity: 1;
  cursor: pointer;
}

.Wall {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  color: #282c34;
  font-size: calc(6px + 2vmin);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.QRcode {
  height: 50%;
  aspect-ratio: 1 / 1;
}

.Text-field {
  background-color: #a6a8ac;
  border-radius: 10px;
  color: #282c34;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  width: 100%;
}

.Inline-description {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.Description {
  font-style: italic;
  width: 30%;
}

.Value {
  font-weight: bold;
  width: 60%;
  text-overflow: clip;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.TwoFA-activate {
  border-radius: 2px;
  cursor: pointer;
  height: 70%;
}

.TwoFA-deactivate {
  border-radius: 2px;
  cursor: pointer;
  height: 70%;
  background-color: rgb(173, 102, 102);
}

.TwoFA-deactivate:hover {
  background-color: rgb(94, 55, 55);
}

.Dashboard {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex: 4 1 80%;
  gap: 10px;
}

.Dashboard-row {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.Dashboard-row>* {
  background-color: #a6a8ac;
  height: 100%;
  width: 50%;
  border-radius: 10px;
  color: #282c34;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Section-title {
  padding: 10% 0;
  align-self: flex-start;
  text-align: center;
}

.button {
  background-color: rgb(102, 110, 117);
  padding: 15px;
  width: 10vw;
  border-radius: 10px;
  text-decoration: none;
  font-size: calc(2px + 2vmin);
  color: white;
}

.button:hover {
  background-color: white;
  color: #282c34;
}

.button, .Menu-icon {
  cursor: pointer;
}

.break {
  width: 100%;
}

a {
  text-decoration: none;
}

h1, h2 {
  width: 100%;
}